---
layout: default
title: Zhang Lab
subtitle: Zhang Ning Lab in BJMU
use-site-title: true
---

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    <img src="imgages/zhangning.png" width="230" height="230">
                </p>
            </div>
            <div class="col-lg-9">
                <p>张宁，男，教授，973首席科学家、国家“万人计划”入选者、国家杰出青年科学基金获得者、科技部中青年科技创新领军人才、人事部百千万人才、突出贡献专家、天津市杰出人才、教育部新世纪优秀人才、天津市特聘教授、天津市“千人计划”入选者，天津市十佳杰出留学回国人员，天津青年科技奖获得者，美国李氏基金会杰出成就奖获得者。
			现担任北京大学医学部副主任，科研部部长，北京大学第一医院肿瘤转化研究中心常务副主任，天津医科大学肿瘤医院研究所PI，中国抗癌协会常务理事、副秘书长，中国抗癌协会期刊出版专业委员会主任委员，纳米肿瘤学专业委员会前任主任委员，《Cancer Biology & Medicine》常务副主编。天津市第十三届政协委员。
                </p>
		<p><a href="zhangning-more.md">Learn More</a></p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h3>科研成果</h3>
        <p>张宁教授长期从事生物医学及细胞生物学研究，围绕癌转移这一关键临床难题，从机理研究、生物标志物鉴定、药物筛选、分子遗传学、纳米技术等多个侧面入手展开转化应用研究，取得了一系列科研成果。
	发现并阐述了PKCζ、Rictor、ELMO1、Txnl2、SHC3、MALAT1等一系列信号分子调控细胞运动的功能和机理，初步揭示了一个调控癌细胞趋化运动的信号传导通路，这一工作为抑制肿瘤的浸润和转移提供了新的药物靶点，为肿瘤的诊断提供了新的标志物。
	建立了一个新的药物筛选细胞模型，筛选获得两个先导化合物，一个抗癌转移化合物，已申请专利并开展临床前研究工作。近年来开始将研究领域拓展至纳米肿瘤学领域，进行纳米技术在肿瘤诊疗中的应用研究，建立了一系列肿瘤纳米检测新方法和手段，构建了一系列纳米新材料。
	在肿瘤遗传学研究方面，揭示了肝细胞肝癌不同病灶间的基因组图谱及其克隆进化关系，为肝癌的诊疗、预后判断以及微转移机理研究提供了依据。结合单细胞捕获及单细胞基因组技术，证明了CTC拷贝数变化具有癌种特异性，并揭示了原位肿瘤细胞中拷贝数变化连续的进化过程，该研究是世界上首次大规模的多癌种CTC单细胞全基因组检测。
	基于以上研究，张宁教授近五年在Cancer Cell、Gastroenterology、Genome Research、Nature Communications、Biomaterials、Cancer Research、Nano Research、Molecular & Cellular Proteomics等国际期刊中发表SCI文章44篇，
	总IF为296.082，其中29篇为通讯作者或共同通讯作者，IF为209.081；获得授权专利2项；
        </p>
    </div>
    <div class="row">
        <h3>基金</h3>
        
            <p>
		 作为项目负责人，主持了国家重大科学研究计划1项、863计划课题1项、863子课题1项，国家杰出青年科学基金1项、国家自然基金中加合作项目1项、面上项目5项、重点项目1项、教育部博士点基金优先发展领域项目1项、教育部新世纪优秀人才基金1项、天津市科委重点项目2项。
            </p>
        
    </div>
    <div class="row">
        <h3>学历与科研工作经历</h3>
        
            	<p>2019.7-至今：北京大学医学部副主任，科研部部长，北京大学第一医院肿瘤转化研究中心常务副主任，天津医科大学肿瘤医院研究所PI。</p>
		<p>2017.10-2019.7：北京大学医学部副主任，北京大学第一医院肿瘤转化研究中心常务副主任，天津医科大学肿瘤医院研究所PI。</p>
		<p>2010.01-2017.09：天津医科大学副校长，天津市基础医学研究中心主任，天津医科大学肿瘤医院研究所PI。</p>
		<p>2008-2017：天津市基础医学研究中心，主任，教授。主要从事癌细胞趋化运动机理研究及抗癌转移药物筛选。</p>
		<p>2007-2008：天津医科大学附属肿瘤医院，天津肿瘤研究所，教授，副所长，中心实验室主任。主要从事癌细胞趋化运动机理研究及抗癌转移药物筛选。</p>
		<p>2005-2007：美国奥克兰大学助理教授。主要从事生物学教学和癌扩散机理研究。</p>
		<p>2003-2005:北京大学化学学院化学生物学系，副教授，副系主任。主要从事教学和趋化因子功能研究。</p>
		<p>2001-2003:美国国立癌症研究所博士后研究员。师从趋化因子领域奠基人Dr. Joost J Oppenheim。研究趋化因子受体在肿瘤、免疫及神经中的功能。</p>
		<p>1995-2001:美国约翰霍普金斯大学医学院（The Johns Hopkins University School of Medicine），生化、细胞及分子生物学博士，师从Prof. Peter N. Devreotes，研究真核细胞趋化运动机理。</p>
		<p>1991-1995:美国佐治亚大学，学士，硕士。师从Dr. Michael Pierce。从事癌细胞中的转糖酶和癌转移的研究。</p>
		<p>1988-1991:北京大学化学系，攻读本科学位，后转学美国。</p>
    </div>
    <div class="row">
        <h3>主要学术任职</h3>
	    <p>中国老年学及老年医学学会转化医学与临床创新分会主任委员</p>
	    <p>中国抗癌协会常务理事副秘书长</p>
	    <p>中国抗癌协会期刊出版专业委员会主任委员</p>
	    <p>中国抗癌协会纳米肿瘤学专业委员会前任主任委员</p>
	    <p>《Cancer Biology & Medicine》常务副主编</p>
    </div>
    <div class="row">
        <h3>社会工作</h3>
	    <p>1997-2000：先后担任约翰.霍普金斯大学医学院中国学生、学者联谊会高级顾问、主席。</p>
	    <p>1998年：作为留美学生学者代表得到朱镕基总理接见</p>
	    <p>1999年：作为留美学生学者代表迎接江泽民总书记。</p>
    </div>
    <div class="row">
        <h3>获奖情况</h3>
	    <p>2020 年 细胞出版社2019中国年度论文</p>
	    <p>2016年 天津市杰出人才</p>
	    <p>2014年 国家高层次人才特殊支持计划（万人计划）</p>
	    <p>2013年 国家百千万人才、突出贡献专家</p>
	    <p>2013年 科技部中青年科技创新领军人才</p>
	    <p>2011年 国家杰出青年科学基金获得者</p>
	    <p>2010年 天津市千人计划</p>
	    <p>2009年 天津市青年科技奖</p>
	    <p>2008年 天津市十佳杰出留学人员</p>
	    <p>2007年 教育部新世纪人才</p>
	    <p>2007年 天津市特聘教授</p>
	    <p>2004年 美国李氏基金杰出成就奖</p>
	    <p>2004年 美国国立卫生院研究优秀奖</p>
    </div>
    <div class="row">
        <h3>应邀编写的学术专著</h3>
	    <p>Oppenheim, J.J. and Zhang N.: Crosstalk between chemokine, opioid, and vanilloid receptors.  Moser, B., Letts, G., and Neote, K. (Eds). In Chemokine Biology: Basic Research and Clinical Application. Vol. I: Immunology of Chemokines. Birkhauser Publishing, Basel, Switzerland. 2005, pp 137. （ISBN号：9783764373078）</p>
	    <p>Zhang, N. and Oppenheim, J.J.: Neuropeptides that regulate immune responses. A. J. Kastin, (Ed.). In: Handbook of Biologically Active Peptides. Academic Press, Elsevier, London, UK. 2005. （ISBN号：9780123694423）</p>
	    <p>Gan W, Schneidman D, Zhang N, Ma B, Nussinov R. Probing Oligomerized Conformations of Defensin in the Membrane. Methods Mol Biol. 2017;1529:353-362.</p>
    </div>
	

	
	
</div>

<!--<div class="posts-list">-->
  <!--{% for post in paginator.posts %}-->
  <!--<article class="post-preview">-->
    <!--<a href="{{ post.url | relative_url }}">-->
	  <!--<h2 class="post-title">{{ post.title }}</h2>-->

	  <!--{% if post.subtitle %}-->
	  <!--<h3 class="post-subtitle">-->
	    <!--{{ post.subtitle }}-->
	  <!--</h3>-->
	  <!--{% endif %}-->
    <!--</a>-->

    <!--<p class="post-meta">-->
      <!--Posted on {{ post.date | date: site.date_format }}-->
    <!--</p>-->

    <!--<div class="post-entry-container">-->
      <!--{% if post.image %}-->
      <!--<div class="post-image">-->
        <!--<a href="{{ post.url | relative_url }}">-->
          <!--<img src="{{ post.image | relative_url }}">-->
        <!--</a>-->
      <!--</div>-->
      <!--{% endif %}-->
      <!--<div class="post-entry">-->
        <!--{{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}-->
        <!--{% assign excerpt_word_count = post.excerpt | number_of_words %}-->
        <!--{% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}-->
          <!--<a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>-->
        <!--{% endif %}-->
      <!--</div>-->
    <!--</div>-->

    <!--{% if post.tags.size > 0 %}-->
    <!--<div class="blog-tags">-->
      <!--Tags:-->
      <!--{% if site.link-tags %}-->
      <!--{% for tag in post.tags %}-->
      <!--<a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>-->
      <!--{% endfor %}-->
      <!--{% else %}-->
        <!--{{ post.tags | join: ", " }}-->
      <!--{% endif %}-->
    <!--</div>-->
    <!--{% endif %}-->

   <!--</article>-->
  <!--{% endfor %}-->
<!--</div>-->

<!--{% if paginator.total_pages > 1 %}-->
<!--<ul class="pager main-pager">-->
  <!--{% if paginator.previous_page %}-->
  <!--<li class="previous">-->
    <!--<a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>-->
  <!--</li>-->
  <!--{% endif %}-->
  <!--{% if paginator.next_page %}-->
  <!--<li class="next">-->
    <!--<a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>-->
  <!--</li>-->
  <!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->
