---
layout: default
title: Zhang Lab
subtitle: Zhang Ning Lab in BJMU
use-site-title: true
---

<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <p>
                    <img src="imgages/zhangning.png" width="230" height="230">
                </p>
            </div>
            <div class="col-lg-9">
                <p>张宁，男，教授，973首席科学家、国家“万人计划”入选者、国家杰出青年科学基金获得者、科技部中青年科技创新领军人才、人事部百千万人才、突出贡献专家、天津市杰出人才、教育部新世纪优秀人才、天津市特聘教授、天津市“千人计划”入选者，天津市十佳杰出留学回国人员，天津青年科技奖获得者，美国李氏基金会杰出成就奖获得者。
			现担任北京大学医学部副主任，科研部部长，北京大学第一医院肿瘤转化研究中心常务副主任，天津医科大学肿瘤医院研究所PI，中国抗癌协会常务理事、副秘书长，中国抗癌协会期刊出版专业委员会主任委员，纳米肿瘤学专业委员会前任主任委员，《Cancer Biology & Medicine》常务副主编。天津市第十三届政协委员。
                </p>
		<p><a href="zhangning-more">Learn More</a></p>
            </div>
        </div>
    </div>
</div>


<!--<div class="posts-list">-->
  <!--{% for post in paginator.posts %}-->
  <!--<article class="post-preview">-->
    <!--<a href="{{ post.url | relative_url }}">-->
	  <!--<h2 class="post-title">{{ post.title }}</h2>-->

	  <!--{% if post.subtitle %}-->
	  <!--<h3 class="post-subtitle">-->
	    <!--{{ post.subtitle }}-->
	  <!--</h3>-->
	  <!--{% endif %}-->
    <!--</a>-->

    <!--<p class="post-meta">-->
      <!--Posted on {{ post.date | date: site.date_format }}-->
    <!--</p>-->

    <!--<div class="post-entry-container">-->
      <!--{% if post.image %}-->
      <!--<div class="post-image">-->
        <!--<a href="{{ post.url | relative_url }}">-->
          <!--<img src="{{ post.image | relative_url }}">-->
        <!--</a>-->
      <!--</div>-->
      <!--{% endif %}-->
      <!--<div class="post-entry">-->
        <!--{{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}-->
        <!--{% assign excerpt_word_count = post.excerpt | number_of_words %}-->
        <!--{% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}-->
          <!--<a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>-->
        <!--{% endif %}-->
      <!--</div>-->
    <!--</div>-->

    <!--{% if post.tags.size > 0 %}-->
    <!--<div class="blog-tags">-->
      <!--Tags:-->
      <!--{% if site.link-tags %}-->
      <!--{% for tag in post.tags %}-->
      <!--<a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>-->
      <!--{% endfor %}-->
      <!--{% else %}-->
        <!--{{ post.tags | join: ", " }}-->
      <!--{% endif %}-->
    <!--</div>-->
    <!--{% endif %}-->

   <!--</article>-->
  <!--{% endfor %}-->
<!--</div>-->

<!--{% if paginator.total_pages > 1 %}-->
<!--<ul class="pager main-pager">-->
  <!--{% if paginator.previous_page %}-->
  <!--<li class="previous">-->
    <!--<a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>-->
  <!--</li>-->
  <!--{% endif %}-->
  <!--{% if paginator.next_page %}-->
  <!--<li class="next">-->
    <!--<a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>-->
  <!--</li>-->
  <!--{% endif %}-->
<!--</ul>-->
<!--{% endif %}-->
